{% load static%}
<div class="col-md-4 mb-4">
  <div class="card">
    <div class="card-body">
      <a href="{% url 'restaurant_detail' r.pk %}">
        <h5 class="card-title">{{ r.name }}</h5>
      </a>

      {# Immagine del ristorante o immagine di default #}
      {% if r.photo_set.exists %}
        <img src="{{ r.photo_set.first.image.url }}" alt="{{ r.name }} Image " width="320" height="180">
      {% else %}
        <img src=" {% static 'images/no_image_to_show.jpg' %}" alt="Immagine mancante" width="320" height="180">
      {% endif %}

      {# per il rating #}
      <div class="rating">
        {% for i in "12345" %}
          <span class="fa-stack">
            {% if i >= r.average_rating|floatformat %}
              <i class="far fa-star fa-stack-1x"></i>
            {% else %}
              <i class="fas fa-star fa-stack-1x"></i>
            {% endif %}
          </span>
        {% endfor %}
      </div>

    </div>
  </div>
</div>