{% extends "base.html" %}

{% block content %}
  <h1>Elenco Prenotazioni</h1>
  <ul>
    {% for prenotazione in reservations %}
      <li>
        {{ prenotazione }}
        <form action="{% url 'reservation_delete' prenotazione.pk %}" method="post">
          {% csrf_token %}
          <button type="submit" class="delete-link" onclick="return confirm('Sei sicuro di voler eliminare questa prenotazione?')">Elimina</button>
        </form>
      </li>
    {% empty %}
      <li>Nessuna prenotazione effettuata.</li>
    {% endfor %}
  </ul>
{% endblock %}
