{% extends "base.html" %}

{% block content %}
  <h1>Elenco Recensioni</h1>
  <ul>
    {% for rev in reviews %}
      <li>
        {{ rev }}
        <form action="{% url 'review_delete' rev.pk %}" method="post">
          {% csrf_token %}
          <button type="submit" class="delete-link" onclick="return confirm('Sei sicuro di voler eliminare questa recensione?')">Elimina</button>
        </form>
      </li>
    {% empty %}
      <li>Nessuna Recensione effettuata.</li>
    {% endfor %}
  </ul>
{% endblock %}
