{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}Sign Up - {{ block.super }}{% endblock %}

{% block content %}
  <div class="container mt-5 mb-5">
    <div class="col-4 mx-auto my-auto">
      <h2>Sign up</h2>
      <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}

        <button type="submit" class="btn btn-primary">Invia</button>
        <button type="reset" class="btn btn-outline-danger">Annulla</button>
      </form>
    </div>
  </div>
{% endblock %}