{% extends "base.html" %}

{% block content %}

    <div class="text-center">
        <h1 class="display-4">Benvenuti a TableTales</h1>
        <p class="lead">
            Siamo una piattaforma dedicata a semplificare l'esperienza di ricerca, prenotazione e recensione dei migliori ristoranti nella tua zona.
            Il nostro obiettivo è rendere la scelta di un ristorante per una cena speciale o un incontro informale il più semplice possibile.
        </p>
    </div>

    <hr>

    <div class="my-4">
        <div class="row">
            <div class="col-md-4">
                <h4><strong>Ricerca Ristoranti</strong></h4>
                <p>Ricerca ristoranti in base alla tua cucina preferita, ubicazione e servizi offerti.</p>
            </div>
            <div class="col-md-4">
                <h4><strong>Prenotazioni Online</strong></h4>
                <p>Semplice e conveniente, prenota un tavolo nel ristorante che desideri visitare.</p>
            </div>
            <div class="col-md-4">
                <h4><strong>Recensioni degli Utenti</strong></h4>
                <p>Condividi le tue esperienze con la comunità scrivendo dettagliate recensioni dei ristoranti che hai provato.</p>
            </div>
        </div>
    </div>

    <hr>

    <div class="my-4">
        <h2>Come Funziona</h2>
        <p>
            Cerca ristoranti che corrispondono alle tue preferenze e leggi le recensioni degli altri utenti per prendere una decisione informata.
            Prenota un tavolo direttamente dal nostro sito, evitando il fastidio delle telefonate e delle conferme incerte.
            Dopo la tua visita, condividi la tua opinione lasciando una recensione per aiutare gli altri a fare scelte sagge.
        </p>
    </div>

    <hr>

    <div class="my-4 text-center">
        <h2>Unisciti a Noi</h2>
        <p>
            Siamo entusiasti di condividere la passione per il buon cibo con te! Unisciti a TableTales oggi stesso
            e inizia a esplorare ristoranti, prenotare tavoli e condividere le tue esperienze culinarie.
        </p>
    </div>

{% endblock %}
