{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TableTales</title>

  {% block css %}{% endblock %}
  {% bootstrap_css %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  {% bootstrap_javascript %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  {% block scripts %}{% endblock %}

</head>
<body>
  <div class="container">

    <header class="mb-4">
      {% include 'navbar.html' %}
    </header>

    <main class="my-4">
      {% block content %}{% endblock %}
    </main>


<footer class="text-center text-white bg-primary mt-5">
    <div class="container pt-4">
        <section class="mb-4">
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
        </section>
    </div>



    <div class="container p-4">
        <section>
            <div class="row">

                <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">TableTales</h5>
                    <p class="mx-5 px-5">
                      Il tuo viaggio culinario comincia qui.
                      Prenota, assapora e condividi la tua esperienza con noi.
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Contattaci</h5>
                    <p class="text-white">
                        Indirizzo, città, CAP<br>
                        Telefono: +39 123 456 789<br>
                        Email: esempio@email.com
                    </p>
                </div>
            </div>
        </section>

    </div>
        <section class="text-center text-white pb-3">
            © 2023 Francesco Bellodi. Tutti i diritti riservati.
        </section>
</footer>



  </div>
</body>
</html>
