{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Titolo del Sito{% endblock %}</title>
  {% bootstrap_css %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  {% bootstrap_javascript %}
</head>
<body>
  <header>
    <h1>{% block header %}Intestazione del Sito{% endblock %}</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/restaurants/">Restaurants</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/accounts/signup/">Register</a></li>
        <li>
          {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout</a>
          {% else %}
            <a href="{% url 'login' %}">Login</a>
          {% endif %}
        </li>
      </ul>
    </nav>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    <p>&copy; {{ year }} Francesco Bellodi. Tutti i diritti riservati.</p>
  </footer>
</body>
</html>
